* {
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* border: 1px solid black; */
    
}
.first{
    width: 20%;
}
nav{
    width:40%;
    margin:2%;
    display:flex;
    justify-content: space-between;
    color:white;
    font-family:"Poppins", sans-serif;
    text-decoration: none;
}
.top{
    display:flex;
    justify-content: space-between;
}
.yes{
    font-size:2rem;
    margin-top: %;
    margin-left:5%;
    color:white;
    font-family:"Poppins", sans-serif;
}
header{
    background-color: #21333e;
    color: White;
}
h3{
    font-size: 2rem;
    margin-bottom: 2%;
    margin-top: 1%;
    font-family:"Poppins", sans-serif;
    background-color: #228283;
    color:white;
    border-radius: 25%;
}
.pic-container1{
    background-image: url("/assets/about\ img\ 3.jpg");
    background-size:cover;
    height: 45vh;
    background-position:center;
    
}
.pic-container{
    background-color:#70ABAF;
}
.pics2{
    margin:2%;
    width: 75%;
    padding-left: 15%;
    height: 37vh;
}
p{
     border-radius: 15%;
     margin: 2%;
     font-family:"Montserrat", sans-serif;
     font-size: 0.9rem;
     width:100%;
     
}
.text{
    width:40%;
    text-align: center;
    margin-left: 5%;
    background-color:#70ABAF;
    border-style:groove;
    border-radius: 15%;
    margin-bottom: 2%;
}

.title{
    margin-left: 35%;

}
.titleb{
    margin-left: 35%;
}
.textb{
    width:40%;
    text-align: center;
    margin-left: 43%;
    border-radius: 15%;
    background-color:#70ABAF;
    border-style:groove;
    margin-bottom: 2%;
}
.titlec{
    margin-left: 45%;
}
.textc{
    width:40%;
    text-align: center;
    margin-left: 3%;
    border-radius: 15%; 
    background-color:#70ABAF;
    border-style:groove;
    margin-bottom: 2%;
}
footer{
    background-color: #21333e;
    color:white;
    padding: 5%;
}
.pic3{
    width: 20%;
    margin-left: 40%;
}
.footer-nav{
    margin-left: 27%;
}
.line{
    border: 1px solid white;
    
}
.footer-text{
    display: flex;
    justify-content: space-between;
}
