* {
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: 1px solid black;
    
}
.first{
    width: 20%;
}
nav{
    width:40%;
    margin:2%;
    display:flex;
    justify-content: space-between;
    color:white;
}
a{
    text-decoration: none;
}
.top{
    display:flex;
    justify-content: space-between;
}
.yes{
    font-size:2rem;
    margin-top: 11%;
    margin-left:5%;
    color:white;
    font-family:"Poppins", sans-serif;
}
header{
    background-color: #21333e;
    color: White;
}
p{
    font-family:"Montserrat", sans-serif;
}
h3{
    font-size: 2rem;
    margin-bottom: 2%;
    margin-top: 1%;
    font-family:"Poppins", sans-serif;
}
.pic-container1{
    background-image: url("/assets/about\ img\ 3.jpg");
    background-size:cover;
    height: 45vh;
    background-position:bottom;
    
}
.pics2{
    margin:2%;
    width: 75%;
    padding-left: 15%;
}

.text{
    width:55%;
    text-align: center;
    margin-left: 5%;
   
}
p{
     background-color: #228283;
     border-radius: 15%;
     
}
.title{
    margin-left: 35%;

}
.titleb{
    margin-left: 35%;
}
.textb{
    width:55%;
    text-align: center;
    margin-left: 45%;
    border-radius: 15%;
}
.titlec{
    margin-left: 2%;
}
.textc{
    width:55%;
    text-align: center;
    margin-left: 5%;
    border-radius: 15%; 
}
footer{
    background-color: #21333e;
    color:white
}
